body {
	margin-top: 21px;
	background-color: 008080;
}

form {
	margin: .6rem;
}

form -> label {
	margin-top: .6rem;
}

h4 {
	margin: .6rem;
}

#chatContainer {
	margin-top: 15px;
}

.received-message {
	background-color: #00FF00;
}
.sent-message {
	background-color: #00FFFF;
}